.fincarButton{
    font-size: 24px;
    font-style: normal;
    font-weight: 590;
    line-height: 32px;
    transition: 0.1s;
    transition-timing-function: linear;
}

.fincarButton:hover{
    color: #c99f34;
}

.yellow{
    color: #F5BD2F;
}

.white{
    color: #FFF;
}
